ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(42, 158, 139);
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: right;
    padding: 81px 40px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(35, 224, 183);
}

.active {
    background-color: rgb(34, 112, 95);
}

h1 {
    color: black;
}

form {
    border: 3px solid #f1f1f1;
    font-family: Arial;
}

.container {
    padding: 20px;
    background-color: #f1f1f1;
}

input[type=text],
input[type=submit] {
    width: 75%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(34, 122, 17);
    box-sizing: border-box;
}

input[type=checkbox] {
    margin-top: 16px;
}

input[type=submit] {
    background-color: rgb(35, 167, 35);
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}

body {
    background-color: rgb(204, 255, 197);
}