ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(42, 158, 139);
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: right;
    padding: 79px 40px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(35, 224, 183);
}

.active {
    background-color: rgb(34, 112, 95);
}

body {
    background-color: rgb(253, 249, 186);
}

h1 {
    color: black;
}

.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}
