ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(42, 158, 139);
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: right;
    padding: 81px 40px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(35, 224, 183);
}

.active {
    background-color: rgb(34, 112, 95);
}

h1 {
    color: black;
    background-color: rgb(210, 248, 239);
}

body {
    background-color: rgb(210, 248, 239);
}

p {
    background-color: rgba(0, 153, 255, 0.384);
}

.article1,
.article2 {
    background-color: rgb(253, 253, 253);
    border: none;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    cursor: pointer;
    font-size: 20px;
}

.article1:hover,
.article2:hover {
    background-color: rgba(63, 134, 226, 0.877);
}